* { /* makes sure everything has no margin or padding */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root { /* sets the theme colors to easy to call names */
    --green: rgba(0, 85, 8);
    --periwinkle: rgba(204, 204, 255);
    --periopa: rgba(204, 204, 255, 0.1);
}

body { /* sets the background-color of the body */
    background: var(--periopa);
}

.btn { /* sets the design of every button */
    background-color: var(--green);
    color: white;
    border: none;
    padding: 11px 24px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

/* sets the css for the main/index page */

/* sets the css for the header */
.index.header { 
    /* css for the header, sticky to the top and 100% width */
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

.index.header .greet { 
    /* css for the greeting, centered text, relative position, padding + width is 100% */
    text-align: center;
    position: relative;
    padding: 1%;
    width: 98%;
}

.index.header .loginlink {
    /* css for the login div, absolute position, vertically centered, all the way to the right */
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 1%;
}

.index.header .name{
    color: white;
    border: 2px solid var(--green);
    border-radius: 5px;
    padding: 11px 24px;
    text-align: center;
    font-size: 12px;
}

.index.header h1 {
    /* css for the "title", font size is 36 pixels */
    font-size: 36px;
}


/* sets the css for the login page */

/* sets the css for the header */
.login.header {
    /* css for the header, position sticky, width is 100% */
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

.login.header .greet {
    /* css for the greeting, centered text, relative position, padding+width is 100% */
    text-align: center;
    position: relative;
    padding: 1%;
    width: 98%;
}

.login.header .backbtn {
    /* css for the back button div, absolute position, vertically centered, positioned to the right */
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 1%;
}

.login.header h1 {
    /* css for the "title", font size is 36 pixels */
    font-size: 36px;
}

/* sets the css for the section */
.login.section {
    /* css for the login section, width is 100% */
    width: 100%;
}

.login.section .input {
    /* css for the input, centered text, relative position, padding+width is 100% */
    text-align: center;
    position: relative;
    padding: 1%;
    width: 98%;
}









