* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: rgba(0, 85, 8);
    --periwinkle: rgba(204, 204, 255);
    --periopa: rgba(204, 204, 255, 0.2);
}

body {
    background: var(--periopa);
}

header {
    position: fixed;
    width: 100%;
    color: var(--green);
}

header .greet {
    text-align: center;
    position: relative;
    padding: 1%;
    width: 98%;
}

header .login {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 1%;
}

header h1 {
    font-size: 36px;
}

header .loginbtn {
    background-color: var(--green);
    color: var(--periwinkle);
    border: none;
    padding: 11px 24px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}