header {
    background-image: url("Header.jpg");
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    text-align: center;
}

header .login {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 1%;
}